.modal-dialog{width: 800px;}
.Editor-editor{height: 250px;}
.container{width: 100%;height: 100%;display: flex;flex-direction: column;background: #f0f0f2;}
.content-header{height: 60px;display: flex;justify-content: center;align-items: center;font-size: 2vw;font-weight: bold;}
.content-header span{ font-size: inherit;}
.content-main{flex:1;display: flex;}
/* 左侧*/
.content-left{flex:8;display: flex;flex-direction: column;margin-right: 15px;}
.content-left .risk{display: flex;height: 190px;flex-direction: column;}
.content-left .risk .risk-top{ height: 40px;display: flex;align-items: center;justify-content: space-between;}
.content-left .risk .risk-top span{ font-size: 1.1vw;font-weight: bold;}
.content-left .risk .risk-content{ padding: 5px; flex: 1; border: 1px solid #d6d6d6; background: #fff; margin: 5px 0px;overflow-y: auto;}
.content-left .risk .risk-content p{ margin-bottom: 10px;}
/*tab*/
.content-left .tab-item{height: 60px;display: flex;align-items: center;border-style: solid;border-color: #d6d6d6;border-width: 1px 0px;}
.content-left .tab-item .nav-pills>li.active>a, .nav-pills>li.active>a:focus,
.content-left .tab-item .nav-pills>li.active>a:hover{background-color: #000;}
.content-left .tab-item a{color:#000;}
.content-left .tab-item a:hover{color:#777;}

.content-left .message-board{ margin-top: 5px;overflow-y: auto;overflow-x: hidden;margin-bottom: 5px;flex: 1;}
.content-left .message-board .message-list{float: left;width: calc(100% - 170px);}
.content-left .message-board .message-list .list-item-title{ height: 30px;display: flex;align-items: center;}
.content-left .message-board .message-list .list-item-title span{ display: inline-block;margin-right: 10px;font-size: 1vw;font-weight: bold;}
.content-left .message-board .message-list .list-item-content{ height: 100px;border: 1px solid #d6d6d6;background: #fff; overflow-y: auto;}
.content-left .message-board .message-type{ float: right; width: 170px;}
.content-left .message-board .message-type .default-type{ display: flex;flex-direction: column;height: 200px;justify-content: center;padding: 10px;}
.content-left .message-board .message-type .default-type button{ margin: 5px;}
.content-left .message-board .message-type .special-type{ flex: 1;display: flex;flex-direction: column;padding: 10px;}
.content-left .message-board .message-type .special-type button{margin: 5px;color:#fff;}


/* 右侧*/
.content-right{flex:3;display: flex;flex-direction: column;padding-left: 15px;border-left: 2px solid #d6d6d6;}
.box-title{font-size: 1.1vw;font-weight: bold;position: relative;}
.box-title a{position: absolute;right: 0;top: 5px;color:#000;}
.box-title a:hover{color:#777;}
.box-content{ border: 1px solid #000; flex: 1;margin: 5px 0px;background: #fff;overflow-y: auto;padding: 10px 5px;}
.content-right .project-member{flex:1;display: flex;flex-direction: column;}
.content-right .project-member .box-content p{margin:0px 0px 5px 5px;border-radius:5px;background: #eee;display: inline-block;padding: 0px 10px;height: 25px;line-height: 25px;}
.content-right .project-member .box-content p a{color: #aaa;margin-left: 5px;text-decoration: none;}
.content-right .project-member .box-content p a:hover{color: #333;}

.content-right .project-communicate{flex:3;display: flex;flex-direction: column;}
.content-right .project-communicate .box-content-item{ margin-bottom: 10px;}
.content-right .project-communicate .box-content-item p{margin: 0;}
.content-right .project-communicate .box-content-item p:last-child{padding-left: 18px;}

/* 告知风险点弹窗*/
.modal textarea{ width: 100%;border: 1px solid #d6d6d6;padding: 5px;resize: none;}
.selected-user-list{border: 1px solid #d6d6d6;margin: 5px 0px;padding: 10px;height: 100px;overflow-y: auto;}
.selected-user-list p{margin:0px 0px 5px 5px;border-radius:5px;background: #eee;display: inline-block;padding: 0px 10px;height: 25px;line-height: 25px;}
.selected-user-list p a{color: #aaa;margin-left: 5px;text-decoration: none;}
.selected-user-list p a:hover{color: #333;}
/*添加人员弹窗*/
.table{margin: 0;}
.table thead{color: #fff;background: #444;}
.table tbody tr{cursor: pointer;}
.page{text-align: right;}

/*添加类型内容*/
.add-type{display: flex;height:40px;align-items: center;}
.add-type .content-label{ font-weight: bold;}
.add-type .content-data{color: #777;}
