.container{  display: flex;  flex: 1;  height: 100%;  align-items: center;  }
.index-main-content{display: flex;flex: 1;flex-wrap: wrap;}
.index-main-content .item-box{ width: 25%;display: flex;flex:1; padding: 10px;}
.index-main-content .item-box .item-box-border{display: flex;flex: 1; justify-content: center;align-items: center;flex-direction: column;  border: 1px solid #d6d6d6;}
.index-main-content .item-box p{}