<?xml version="1.0" encoding="UTF-8"?><configuration>    <settings>        <setting name ="jdbcTypeForNull" value ="NULL"/>    </settings>    <typeAliases>    </typeAliases>    <mappers>    </mappers></configuration><!--<configuration>--><!--<typeAliases>-->    <!--<typeAlias type="dao.test" alias="Test" />--><!--</typeAliases>--><!--</configuration>-->